// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.main-menu {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #433046;
  margin-bottom: 40px;
}
.user {
  position: fixed;
  bottom: 0;
  background: #3A9CB7;
  margin: 0;
  width: 100%;
  text-align:center;
  padding: 10px;
  a {
    margin-left: 10px;
    color: #725913;
    text-decoration: underline;
  }
}