// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
h2 {
  color: #DEAE23;
}
#container {
  ul {
    margin-left: -20px;
    span {
      margin-left: 3px;
    }
    #move {
      display: none;
      margin-left: -18px 
    }
    i {
      cursor: pointer;
      margin-top: 5px;
    }
    li {
      cursor: move;
      margin-left: 35px;
      list-style-type: none;
      line-height: 2.5em;
      font-size: 18px;
      border-bottom: 1px dotted #aaa;
    }
  }
  h2 {
    color: #DEAE23;
  }
  #done-tasks {
    span {
      text-decoration: line-through;
    }
  }
  .row {
    width: 67%;
    margin: 0 auto;
    margin-top: 30px;
    .span4 {
      h3 {
        color: #3F2C42;
        border-bottom: 2px solid #755d79;
        margin: 0;
        margin-left: 5px;
      }
      min-height: 200px;
      padding: 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .drop-hover {
    border-radius: 5px;
    border: 2px dashed #aaa;
  }
  #delete {
    display: none;
    float: right;
  }
  #new-task {
    margin: 0 auto;
    display: block;
    border: 0;
    color: #725913;
    font-size: 24px;
    height: 30px;
    width: 350px;
    border-bottom: 1px solid #725913;
    border-radius: 0;
    box-shadow: none;
  }
  .task:hover > #delete, .task:hover > #move {
    display: inline;
  }
}
